{{#each this}}
    <section class="module" id="{{lectureSlug this}}">
        <h1>{{Title}}</h1>

        {{#each Events}}
            <section>
                <div class="label">
                    <h1>
                        {{Label}}
                        <span class="date">{{shortDate @key}}</span>
                        {{#if Video}}
                            <a class="video" href="{{Video}}">Video</a>
                        {{/if}}
                    </h1>
                </div>
                <div class="slides icon">
                    <ul>
                        {{#each Slides}}
                            <li>{{maybeLink this}}</li>
                        {{/each}}
                    </ul>
                </div>
                <div class="notes icon">
                    <ul>
                        {{#each Notes}}
                            <li>{{maybeLink this}}</li>
                        {{/each}}
                    </ul>
                </div>
                <div class="references icon">
                    <ul>
                        {{#each References}}
                            <li>{{maybeLink this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </section>
        {{/each}}
    </section>
{{/each}}
